* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-image: url("img/bg1.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.page__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 80px;
  width: 100%; /* чтобы заголовок занимал всю ширину */
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.product-card {
  width: 340px; /* теперь все карточки имеют эту ширину */
  height: auto;
  padding: 25px;
  background-color: #f7f7fa;
  display: flex;
  flex-direction: column; /* чтобы элементы внутри тянулись по вертикали */
}

.product-card__image {
  width: 100%;
  height: auto;
  display: block;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.composition {
  margin-bottom: 25px;
}

.composition__list {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* прижимает цену к низу карточки */
  width: 100%;
}

.price__label {
  font-size: 20px;
  font-weight: 700;
  color: #36365d;
}

.price__value {
  font-size: 20px;
  font-weight: 400;
  color: #36365d;
}